/*
  site specs

  max width = 1000px

  Notes:

  Please name custom classes in "PascalCase".

  Use :root css selector for specificity in order to
  override semantic ui styles.
*/

@font-face {
  font-family: 'AvenirNextLTW01Regular';
  src: url('/fonts/avenirnext/AvenirNextLTW01RegularRegular.eot');
  src: url('/fonts/avenirnext/AvenirNextLTW01RegularRegular.eot?#iefix') format('embedded-opentype'),
  url('/fonts/avenirnext/AvenirNextLTW01RegularRegular.woff') format('woff'),
  url('/fonts/avenirnext/AvenirNextLTW01RegularRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
	font-family: 'AvenirNextLTW01Regular';
  src: url('/fonts/avenirnextbold/AvenirNextLTW01BoldRegular.eot');
  src: url('/fonts/avenirnextbold/AvenirNextLTW01BoldRegular.eot?#iefix') format('embedded-opentype'),
  url('/fonts/avenirnextbold/AvenirNextLTW01BoldRegular.woff') format('woff'),
  url('/fonts/avenirnextbold/AvenirNextLTW01BoldRegular.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/*
 * GLOBAL
 */
* {
  -webkit-font-smoothing: antialiased;
}

.ui.header .sub.header {
  color: rgba(0, 0, 0, 0.8);
}

/*
::-moz-selection {
  background: rgba(125, 75, 125, 0.7);
  color: #fff;
}

::selection {
  background: rgba(125, 75, 125, 0.7);
  color: #fff;
}
*/

body::-webkit-scrollbar,
.overflow-x::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

body::-webkit-scrollbar-track,
.overflow-x::-webkit-scrollbar-track {
  background: #000;
}

body::-webkit-scrollbar-thumb,
.overflow-x::-webkit-scrollbar-thumb {
  background-color: rgba(43, 43, 43, 0.7);
  border: 1px solid rgba(49, 49, 49, 0.6);
}

body::-webkit-scrollbar-thumb:hover,
.overflow-x::-webkit-scrollbar-thumb:hover {
  background-color: rgba(73, 65, 88, 0.7);
}

body {
  background: #F5F5F5;
  font-size: 1.2em;
}

:root:root .statistic .label,
:root:root .statistic .value {
  color: #4A4A4A;
  text-transform: none;
  font-family: 'AvenirNextLTW01Regular', 'Lato','Helvetica Neue',Arial,Helvetica,sans-serif;
}

body,
.ui.header,
.ui.card>.content>.header,
.ui.cards>.card>.content>.header {
  color: #4A4A4A;
  font-family: 'AvenirNextLTW01Regular', 'Lato','Helvetica Neue',Arial,Helvetica,sans-serif;
  font-size: 1.3em;
}
/*
 * /END GLOBAL
 */

/*
 * BUTTON
 */
:root:root .ui.button {
  text-transform: uppercase;
  padding: 1em 2em;
  transition: all 0.2s ease-out;
}

:root:root .ui.button:hover {
  filter: hue-rotate(5deg);
}

/*
 * /END BUTTON
 */

/*
 * TOP NAV
 */
.TopNav {
  width: 100%;
  background: #4A4A4A;
  background-size: cover;
}

.TopNavMenuContainer {
  background: rgba(0,0,0,0.2);
}

.TopNav .menu {
  border: none;
  border-radius: 0;
  box-shadow: none;
  max-width: 1000px;
  margin: 0 auto;
  background: none;
}

:root:root:root .TopNav .menu .Logo,
:root:root:root .TopNav .menu .Logo:hover {
  margin: auto 0;
  width: 165px;
  height: 50px;
  color: transparent;
  background-color: transparent;
  background-image: url(../assets/metax_white_logo.png);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 0 15px;
  align-self: center;
}

.TopNav .menu .item,
.TopNav .menu .item.active {
  color: rgba(255,255,255,0.9);
  padding: 25px 15px;
  border: none;
  transition: all 0.2s ease-out;
  text-transform: uppercase;
  border-top: 4px solid transparent;
  box-shadow: none;
}

:root:root .TopNav .menu .item:hover {
  color: rgba(255,255,255,1);
  background: rgba(0,0,0, 0.2);
  border-top-color: rgba(76, 60, 76, 0.53)
}

:root:root .TopNav .menu .item.active,
:root:root .TopNav .menu .item.active:hover {
  color: rgba(255,255,255,1);
  background: rgba(0,0,0, 0.2);
  border-top-color: #2196F3;
}

@media only screen and (max-width: 767px) {
  :root:root .TopNav .right.menu {
    overflow: auto !important;
    justify-content: center;
  }

  :root:root .TopNav .menu .item {
    display: inline-block !important;
    width: auto !important;
  }
}
/*
 * /END TOP NAV
 */


/*
 TOP HERO
*/
:root:root .TopHero {
  padding: 100px 0 40px 0 !important;
  z-index: 10;
  position: relative;
}
/*
 /END TOP HERO
*/


/*
 SECTION
*/
:root:root:root:root:root .Section {
  margin-bottom: 100px;
}
:root:root:root:root:root .Section > .grid {
  max-width: 1000px;
  margin: 0 auto !important;
}

:root:root .Section .ui.header {
  margin-bottom: 20px;
}

:root:root .Section .ui.header .sub {
  padding-top: 25px;
}

:root:root:root .Section h2 {
  font-size: 2.2em;
  text-transform: uppercase;
}

:root:root:root .Section .ui.header {
  position: relative;
}

:root:root:root .Section .ui.header .ui.divider {
  position: absolute;
  top: 20px;
  width: 100%;
  margin: 0 auto;
  border-color: #2196f3;
  z-index: -1;
}

:root:root:root .Section .ui.header > span {
  display: inline-block;
  background: #F5F5F5;
  padding: 0 10px;
}


:root:root:root .TopHero .ui.header .ui.divider {
  position: relative;
  top: 0;
  width: 20% !important;
  margin: 10px auto 0 auto;
  border-color: #2196f3;
}



/*
 /END SECTION
*/

/*
 ALT SECTION
*/
:root:root .AltSection {
  background: #2196F3;
  background-size: cover;
}

:root:root:root .AltSection .header,
:root:root:root .AltSection .description {
  color: #fff;
}
/*
 /END ALT SECTION
*/

/*
 CARDS
*/
:root:root .SectionCards {
  width: 100%;
  z-index: 8;
  position: relative;
}

:root:root:root .SectionCards .cards {
  margin: 0 auto;
}

:root:root:root .SectionCards .card {
  border: none;
  box-shadow: none;
  width: 100%;
  background: none;
}

:root:root:root .SectionCards .header {
  margin-bottom: 40px;
}

:root:root:root .SectionCards .image {
  background: none;
  padding: 5px;
}

:root:root:root .SectionCards .image img {
  display: inline-block;
  max-width: 200px;
  max-height: 200px;
}

:root:root .SectionCards .content {
  border: none;
}

/*
 /END CARDS
*/



/**
 * SECTION HERO
 */

:root:root .SectionHero {
  padding: 150px 0 100px 0;
  background-size: cover;
  z-index: 10;
  position: relative;
}

:root:root .SectionHero .ui.header {
  max-width: 700px;
  margin: 0 auto;
  line-height: 1.5;
}

:root:root .SectionHero .ui.header .sub {
  font-size: 18px;
  line-height: 1.5;
  margin: 15px 0 25px 0;
  padding-bottom: 20px;
}

/**
 * /END SECTION HERO
 */

/**
 * SECTION ACCORDION
 */

:root:root .SectionAccordion .accordion {
  margin-bottom: 20px;
}
/**
 * /END SECTION ACCORDION
 */


/**
 * SECTION TABS
 */

:root:root .SectionTabs {
  width: 100%;
  position: relative;
  z-index: 9;
  margin-top: 50px;
  margin-bottom: 50px;
}

@media only screen and (max-width: 767px) {
  :root:root:root:root .SectionTabs {
    margin-top: 50px !important;
  }
}

:root:root .SectionTabs .ui.tabular.menu {
  border: none;
  justify-content: center;
  margin: 0 0 20px 0;
}

:root:root .SectionTabs .ui.tabular.menu .item {
  border: none;
  border-radius: 0 !important;
  border-top: 1px solid transparent;
}

:root:root .SectionTabs .ui.tabular.menu .item:hover {
  border-top-color: rgba(0, 0, 0, 0.05);
}

:root:root .SectionTabs .ui.tabular.menu .item.active,
:root:root .SectionTabs .ui.tabular.menu .item.active:hover {
  border-top-color: #5b5abf;
}

:root:root .SectionTabs .ui.tab {
  max-width: 1000px;
  margin: 0 auto;
}

:root:root .SectionTabs .ui.tab .card {
  border: none;
  box-shadow: none;
  background: none;
}

:root:root .SectionTabs .ui.tab .image {
  background: none;
}

:root:root:root .SectionTabs .image img {
  display: inline-block;
  max-width: 200px;
  height: 120px;
}

:root:root .SectionTabs .ui.tab .content {
  border: none;
}
/**
 * /END SECTION TABS
 */

/**
 * SECTION CONTENT
 */
:root:root:root .SectionContent {
  width: 100%;
  background-size: cover;
  z-index: 8;
  position: relative;
  z-index: 8;
}

:root:root:root .SectionContent > .ui.grid {
  max-width: 1000px;
  margin: 0 auto !important;
}

:root:root .SectionContentImageContainer {
  display: flex;
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
  text-align: center;
}

:root:root:root .SectionContentImageContainer img {
  display: inline-block;
  margin: 0 auto;
  align-self: flex-end;
}

:root:root .SectionContent p {
  max-width: 400px;
  margin: 0 auto;
}

/**
 * /END SECTION CONTENT
 */

/*
 * HOME Page
 */
:root:root .HomePage .button.primary {
  color: rgba(255,255,255,0.9);
  background: #2196F3;
}

:root:root .HomePage .button.primary:hover {
  filter: hue-rotate(5deg);
}

:root:root .HomePage .button.gray {
  background: #4A4A4A;
  color: rgba(255, 255, 255, 0.9);
}

:root:root .HomePage .button.white {
  background: #FAFAFA;
}
/*
 * /END HOME VIEW
 */

/*
 * HOME CLEAN UP SECTION
 */
:root:root .HomeCleanUp mark {
  color: #C72828;
  background: transparent;
  font-weight: bold;
}
/*
 * /END HOME CLEAN UP SECTION
 */



/*
 HOME HOW IT WORKS
*/

:root:root .HomeHIW .divider {
  width: 20%;
  margin: 0 auto 80px auto;
  border-color: #2196f3;
}

:root:root:root .HomeHIW .image {
  max-width: 100px;
}

:root:root:root .HomeHIW .graph {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}

:root:root:root .HomeHIW .graph img {
  width: 100%;
}

/*
 /END HOME HOW IT WORKS
*/

:root:root .HomeHIW .divider {
  width: 20%;
  margin: 0 auto 80px auto;
  border-color: #2196f3;
}

/*
 * HOME SUBSCRIBE
 */

:root:root:root:root:root .HomeSubscribe {
  margin-bottom: 0;
}

/*
 * /END HOME SUBSCRIBE
 */

/*
 * HOME BREAKDOWN
 */

:root:root:root .HomeBreakdown .statistics {
  margin-bottom: 0;
}

:root:root:root .HomeBreakdown .statistic {
  margin: 0;
}

:root:root:root .HomeBreakdown .statistics .value {
  margin-bottom: 15px;
}

:root:root:root .HomeBreakdown .statistic:not(:last-child) .value {
  border-right: 1px solid #2196f3;
}

:root:root:root .HomeBreakdown .statistics .label {
  font-weight: normal;
  white-space: normal;
  text-transform: none;
  font-size: 0.8em;
}

:root:root:root .HomeBreakdown .statistics .label p {
  padding: 0 20px;
}

@media only screen and (max-width: 767px) {
  :root:root:root:root .HomeBreakdown .statistic .value {
    border-right: none;
  }
}

/*
 * /END HOME BREAKDOWN
 */


/*
 MAILCHIMP
 */
#mc_embed_signup {
  max-width: 600px;
  margin: 0 auto;
  background: none;
  animation-delay: 0.6s;
}

#mc_embed_signup_scroll {

}

@media (max-width: 500px) {
  #mc_embed_signup {
    max-width: 300px;
  }
}

#mc_embed_signup input.email {
  background: #fff;
  border: none;
  padding: 20px 10px;
  color: #4A4A4A;
  height: 40px;
  font-family: "Open Sans","Helvetica Neue",Arial,Helvetica,Verdana,sans-serif;
  font-size: 15px;
  border-radius: 3px;
  box-sizing: border-box;
  height: 32px;
  display: inline-block;
  margin: 0;
  width: 250px;
  vertical-align: top;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  transition: all 0.2s ease-out;
}

@media (max-width: 500px) {
  #mc_embed_signup input.email {
    width: 100%;
    margin: 0 0 20px 0;
    text-align: center;
  }
}

#mc_embed_signup input.email::placeholder {
  color: #4A4A4A;
}

#mc_embed_signup input.email:focus {
  outline: 0;
  border: 1px solid rgb(93, 110, 146, 0.5);
}

#mc_embed_signup .clear {
  display: inline-block;
}
/*
 /END MAILCHIMP
 */

/**
 * COUNTDOWN
 */
:root:root:root .HomeCountdown .header {
  font-weight: normal;
  font-size: 14px;
  text-transform: uppercase;
}
.clocks {
  margin: 0 auto;
  text-align: center;
}

.clock {
  display: inline-block;
  position: relative;
  margin: 0 15px;
  text-align: center;
  box-shadow: 0 0 1px #6c4473;
  border-radius: 50%;
  width: 125px;
  height: 125px;
}

@media (max-width: 640px) {
  .clock {
    display: block;
    margin: 15px auto;
  }
}

.clock label {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  margin: -20px 0 0 -50px;
  text-align: center;
  font-size: 12px;
  font-weight: normal;
  text-transform: uppercase;
}

:root:root .clock label span {
  display: block;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 10px;
}




}
/**
 * /END COUNTDOWN
 */

/**
 * HOME FAQ
 */
:root:root .HomeFAQ {
  padding-bottom: 80px !important;
}

:root:root .HomeFAQ .column.grid .column:last-child {
  border-left: 1px solid #2196f3;
}
/**
 * /END HOME FAQ
 */

/**
 * WHITE PAPER
 */
:root:root:root .WhitePaper .row.ten {
  margin-bottom: 40px;
}
/**
 * /END WHITE PAPER
 */

/**
 * TEAM
 */
:root:root:root .TeamSection .card {
  border: 0;
  background: none;
  box-shadow: none;
}

:root:root:root .TeamSection .card .image {
  background: none;
}

:root:root:root .TeamSection .cards {
  margin-bottom: 80px !important;
}
/**
 * /END TEAM
 */

/**
 * SITE FOOTER
 */
:root:root:root .SiteFooter {
  width: 100%;
  background: #4A4A4A;
  background-size: cover;
  padding: 0;
}

.SiteFooterMenuContainer {
  background: rgba(0,0,0,0.2);
}

.SiteFooter .menu {
  border: none;
  border-radius: 0;
  max-width: 1000px;
  margin: 0 auto;
  background: none;
  box-shadow: none;
}

:root:root:root .SiteFooter .menu .Logo,
:root:root:root .SiteFooter .menu .Logo:hover {
  margin: auto 0;
  width: 165px;
  height: 50px;
  color: transparent;
  background-color: transparent;
  background-image: url(../assets/metax_white_logo.png);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 0 15px;
  align-self: center;
}

.SiteFooter .menu .item,
.SiteFooter .menu .item.active {
  color: rgba(255,255,255,0.9);
  padding: 25px 15px;
  border: none;
  box-shadow: none;
  transition: all 0.2s ease-out;
  text-transform: uppercase;
  border-top: 4px solid transparent;
}

.SiteFooter .menu .item:before {
  display: none;
}

:root:root .SiteFooter .menu .item:hover {
  color: rgba(255,255,255,1);
  background: rgba(0,0,0, 0.2);
  border-top-color: rgba(76, 60, 76, 0.53)
}

@media only screen and (max-width: 767px) {
  :root:root .SiteFooter .right.menu {
    overflow: auto !important;
    justify-content: center;
  }

  :root:root .SiteFooter .menu .item {
    display: inline-block !important;
    width: auto !important;
  }
}
/**
 * /END SITE FOOTER
 */


/**
 * PIE CHART
 */
#chartdiv {
  width: 100%;
  height: 500px;
  font-size: 11px;
}

.amcharts-chart-div a,
.amExportButton {
  display: none !important;
}

.amcharts-pie-slice {
  transform: scale(1);
  transform-origin: 50% 50%;
  transition-duration: 0.3s;
  transition: all .3s ease-out;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  cursor: pointer;
  box-shadow: 0 0 30px 0 #000;
}

.amcharts-pie-slice:hover {
  transform: scale(1.1);
  filter: url(#shadow);
}
/**
 * /END PIE CHART
 */
