<div class="ui equal width grid Missions stackable">
    <div class="column center aligned">
        <a href="https://adchain.zendesk.com/hc/en-us" class="small ui inverted basic button" target="_blank" rel="noreferrer noopener">VIEW WALKTHROUGHS</a>
    </div>

    <div class="column center aligned">
        <a href="https://app.adchain.com" class="small ui inverted blue basic button" target="_blank" rel="noreferrer noopener">ACCESS ADCHAIN REGISTRY DAPP</a>
    </div>

    <div class="column center aligned">
        <a href="https://chat.adchain.com" class="small ui inverted basic button" target="_blank" rel="noreferrer noopener">JOIN ROCKET.CHAT</a>
    </div>
</div>

