{{ partial "top_nav.html" . }}
<div class="Particles"></div>
<main class="main BreakDown">
    <div class="ui grid padded stackable">
        <div class="column sixteen wide LunarScape Section">
            <div class="ui grid padded stackable">
                <div class="column fourteen wide centered aligned">
                    <div class="LunarscapeLogo HeroTop">
                        {{ partial "lunarscape_logo.html" . }}
                        {{ partial "current_mission_eth_colonization_text.html" . }}
                    </div>
                    {{ partial "hero_buttons.html" . }}
                </div>

                <div class="WorldFromMoon"></div>
            </div>

            <div class="LunarSurface"></div>
            <div class="LunarSurfaceOverlay"></div>
            {{ partial "mission_rinkeby_rover_phases.html" . }}
        </div>
    </div>

    <div class="ui grid padded stackable MissionDetailSection DarkBlueBg">
        <div class="column sixteen wide Section">
            <div class="ui grid padded stackable">
                <div class="column sixteen wide centered aligned">
                    {{ partial "mission_rinkeby_rover.html" . }}
                    {{ partial "mission_refueling_stage.html" . }}
                    {{ partial "mission_ethereum_colonization.html" . }}
                </div>
            </div>
        </div>
    </div>

    <div class="ui grid padded stackable">
        <div class="column sixteen wide DarkBlueBg">
            <div class="scrollMore animated fadeInUp"></div>
            <div class="ui grid padded stackable">
                <div class="column ten wide centered aligned">
                    <div class="LunarscapeLogo TimeLineHeader center aligned">
                        {{ partial "lunarscape_logo.html" . }}
                        {{ partial "timeline_text.html" . }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ui grid padded stackable">
        <div class="column sixteen wide Section DarkBlueBg">
            <div class="ui grid padded stackable">
                <div class="column sixteen wide centered aligned TimeLine">
                    {{ partial "timeline_layer_one.html" . }}
                    {{ partial "timeline_layer_two.html" . }}
                    {{ partial "timeline_layer_three.html" . }}
                    {{ partial "timeline_layer_four.html" . }}
                    {{ partial "timeline_layer_five.html" . }}
                    {{ partial "timeline_stages.html" . }}
                </div>
            </div>
        </div>
    </div>

    <div class="ui grid padded stackable JoinNewsletter BlueBg">
        <div class="column sixteen wide Section">
            <div class="ui grid padded stackable">
                <div class="column ten wide center aligned centered">
                    <h2 class="ui header inverted">Sign Up for our Newsletter</h2> <br />
                    {{ partial "subscribe_button.html" }}
                </div>
            </div>
        </div>
    </div>

    <div class="ui grid padded stackable BlueBg ContentBottom">
        <div class="column sixteen wide Section">
            <div class="ui grid equal width padded stackable">
                    <div class="column center aligned">
                        <h3 class="ui header inverted grey">Access the Help Center</h3>
                        <a href="https://adchain.zendesk.com/hc/en-us" target="_blank" rel="noreferrer noopener" class="small ui grey button">VIEW WALKTHROUGHS</a>
                    </div>

                    <div class="column center aligned">
                        <h3 class="ui header inverted">Access the adChain Registry</h3>
                        <a href="https://app.adchain.com" target="_blank" rel="noreferrer noopener" class="small ui blue button">ACCESS DAPP</a>
                    </div>

                    <div class="column center aligned">
                        <h3 class="ui header inverted grey">Join the adToken
                            Lunarscape Conversation</h3>
                        <a href="https://t.me/adChain" target="_blank" rel="noreferrer noopener" class="small ui grey button">JOIN OUR TELEGRAM</a>
                    </div>

            </div>


        </div>
    </div>

    {{ partial "footer.html" . }}


</main>
