<table class="ui definition table MissionTable clearTable basic">
    <thead>
    <tr>
        <th colspan="3" class="center aligned">{{ partial "refueling_stage_text.html" . }}<br />
            {{ partial "feb_apr_text.html" . }}

            <div class="ui divider"></div>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{ partial "objective_text.html" . }}</td>
        <td colspan="2">
The Refueling Stage is when the adChain Core dev team begins to implement a new UI with updated features. Throughout this process, the smart contracts will be audited by the ConsenSys Diligence team. These steps are being completed in preparation for Ethereum Colonization.
        </td>
    </tr>
    </tbody>
</table>