<table class="ui definition table MissionTable clearTable basic">
    <thead class="EthereumColonizationText">
    <tr>
        <th colspan="3" class="center aligned"> {{ partial "ethereum_colonization_text.html" . }}
            <div class="ui divider"></div>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{ partial "objective_text.html" . }}</td>
        <td colspan="2">
            The objective of Ethereum Colonization is to permanently deploy the adChain Registry
            smart contracts onto the Ethereum Mainnet and re-open the adChain Registry DApp to
            adToken holders.
        </td>
    </tr>
    <tr>
        <td>{{ partial "phases_text.html" . }}</td>
        <td colspan="2">
            <table class="ui definition table PhaseTable clearTable phaseBox">
                <tbody>
                <tr>
                    <td class="single line">{{ partial "liftoff_text.html" . }}<br/>
                        {{ partial "apr_2018_text.html" . }}
                    </td>
                    <td colspan="2">The Lift-Off phase marks the deployment of the adChain Registry
                        DApp to the Ethereum Mainnet.
                    </td>
                </tr>
                </tbody>
            </table>

            <table class="ui definition table PhaseTable clearTable phaseBox">
                <tbody>
                <tr>
                    <td class="single line">{{ partial "lunar_colony_text.html" . }}<br/>
                        {{ partial "apr_2018_forever_text.html" . }}
                    </td>
                    <td colspan="2">The Lunar Colony is the phase when the entire adChain ecosystem is permanently deployed onto the Ethereum Mainnet, resulting in a fully opened and decentralized adChain Registry DApp.
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>