<table class="ui definition table MissionTable clearTable basic">
    <thead>
    <tr>
        <th colspan="4" class="center aligned">{{ partial "rinkeby_rover_text.html" . }}
            <div class="ui divider"></div>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{ partial "objective_text.html" . }}</td>
        <td colspan="3">The objective of the Rinkeby Rover mission is to offer a preliminary look at
            the adChain Registry DApp and to gain valuable insights from the adToken community. The
            mission will serve as twofold: (1) to educate the adToken community on interacting with
            the adChain Registry and (2) to gather feedback to guide us towards Ethereum
            Colonization.
        </td>
    </tr>
    <tr>
        <td>{{ partial "phases_text.html" . }}</td>
        <td colspan="3">
            <table class="ui definition table PhaseTable clearTable phaseBox">
                <tbody>
                <tr>
                    <td class="single line">{{ partial "liftoff_text.html" . }}<br/>
                        {{ partial "nov_text.html" . }}
                    </td>
                    <td colspan="2">The Lift-Off phase marks the deployment of the adChain Registry
                        DApp to the Rinkeby Testnet.
                    </td>
                </tr>
                </tbody>
            </table>
            <table class="ui definition table PhaseTable clearTable phaseBox">
                <tbody>
                <tr>
                    <td class="single line">{{ partial "discovery_text.html" . }}<br/>
                        {{ partial "nov_jan_text.html" . }}
                    </td>
                    <td colspan="2">The Discovery phase is when the adToken community can
                        explore and experiment with the adChain Registry DApp.
                    </td>
                </tr>
                </tbody>
            </table>
            <table class="ui definition table PhaseTable clearTable phaseBox">
                <tbody>
                <tr>
                    <td class="single line">{{ partial "voyage_home_text.html" . }}<br/>
                        {{ partial "feb_text.html" . }}
                    </td>
                    <td colspan="2">The Voyage Home is when we will close the adChain Registry DApp
                        on the Rinkeby Testnet and marks the beginning of the Refueling Stage.
                    </td>
                </tr>
                </tbody>
            </table>

        </td>
    </tr>
    </tbody>
</table>