<div class="TopNav">
  <div class="TopNavMenuContainer">
    <div class="ui menu stackable">
      <a href="/" class="item Logo">MetaX</a>
      <div class="right menu overflow-x">
        <a href="/" {{ if eq .File.BaseFileName ""}} class="item active" {{ else }} class="item" {{ end }}>MISSION CONTROL</a>
        <a href="https://app.adchain.com" {{ if eq .File.BaseFileName "white-paper"}} class="item active" {{ else }} class="item" {{ end }}>adChain Registry DApp</a>
        <a href="/" {{ if eq .File.BaseFileName "about"}} class="item active" {{ else }} class="item" {{ end }}>adToken Breakdown</a>
        <a href="/white-paper" {{ if eq .File.BaseFileName "resources"}} class="item active" {{ else }} class="item" {{ end }}>White Paper</a>
      </div>
    </div>
  </div>
</div>
