<div class="TopNav">
  <div class="TopNavMenuContainer">
    <div class="ui menu stackable">
      <a href="/" class="item Logo">MetaX</a>
      <div class="right menu overflow-x">
        <a href="/" {{ if eq .File.BaseFileName ""}} class="item active" {{ else }} class="item" {{ end }}>Mission Control</a>
        <a href="/overview" {{ if eq .File.BaseFileName "about"}} class="item active" {{ else }} class="item" {{ end }}>adToken Overview</a>
        <a href="/white-paper" {{ if eq .File.BaseFileName "resources"}} class="item active" {{ else }} class="item" {{ end }}>White Paper</a>
      </div>
      <div class="SocialMenu overflow-x">
        <div class="item SocialSection">
          <a href="https://twitter.com/ad_chain" target="_blank" rel="noreferrer noopener">
            <i class="SocialIcon twitter"></i>
          </a>
          <a href="https://medium.com/@AdChain" target="_blank" rel="noreferrer noopener">
            <i class="SocialIcon medium"></i>
          </a>
          <a href="https://www.reddit.com/r/adChain" target="_blank" rel="noreferrer noopener">
            <i class="SocialIcon reddit"></i>
          </a>
          <a href="https://chat.adchain.com" target="_blank" rel="noreferrer noopener">
            <i class="SocialIcon rocketChat"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
