<div class="TopNav">
  <div class="TopNavMenuContainer">
    <div class="ui menu stackable">
      <a href="/" class="item Logo">MetaX</a>
      <div class="right menu overflow-x">
        <a href="/" {{ if eq .File.BaseFileName ""}} class="item" {{ else }} class="item" {{ end }}>Mission Control</a>
        <a href="/overview" {{ if eq .File.BaseFileName "overview"}} class="item active" {{ else }} class="item" {{ end }}>Overview</a>
        <a href="/white-paper" {{ if eq .File.BaseFileName "white-paper"}} class="item active" {{ else }} class="item" {{ end }}>White Paper</a>
        <a href="/about" {{ if eq .File.BaseFileName "about"}} class="item active" {{ else }} class="item" {{ end }}>About</a>
        <a href="/resources" {{ if eq .File.BaseFileName "resources"}} class="item active" {{ else }} class="item" {{ end }}>Resources</a>
        <a href="http://blog.adtoken.com" target="_blank" class="item">Blog</a>
        <a href="/white-paper-cn.pdf" target="_blank" class="item">中文</a>
        <a href="/white-paper-jp.pdf" target="_blank" class="item">日本語</a>
      </div>
    </div>
  </div>
</div>
