<!DOCTYPE html>
<html>
  <head>
    {{ partial "head.html" }}
  </head>
  <body>
    {{ if eq .Title "White Paper" }}
      {{ partial "white_paper.html" . }}
    {{ end }}
    {{ if eq .Title "About" }}
      {{ partial "about.html" . }}
    {{ end }}
    {{ if eq .Title "Team" }}
      {{ partial "team.html" . }}
    {{ end }}
    {{ if eq .Title "Resources" }}
      {{ partial "resources.html" . }}
    {{ end }}
    {{ if eq .Title "Token" }}
      {{ partial "token.html" . }}
    {{ end }}

    {{ partial "footer_scripts.html" }}
  </body>
</html>

