<!DOCTYPE html>
<html>
  <head>
    {{ partial "head.html" . }}
  </head>
  <body>
    {{ if eq .File.BaseFileName "white-paper" }}
      {{ partial "white_paper.html" . }}
    {{ end }}
    {{ if eq .File.BaseFileName "about" }}
      {{ partial "about.html" . }}
    {{ end }}
    {{ if eq .File.BaseFileName "team" }}
      {{ partial "team.html" . }}
    {{ end }}
    {{ if eq .File.BaseFileName "resources" }}
      {{ partial "resources.html" . }}
    {{ end }}
    {{ if eq .File.BaseFileName "token" }}
      {{ partial "token.html" . }}
    {{ end }}
    {{ if eq .File.BaseFileName "faq" }}
      {{ partial "faq.html" . }}
    {{ end }}
    {{ if eq .File.BaseFileName "terms" }}
      {{ partial "terms.html" . }}
    {{ end }}

    {{ partial "footer_scripts.html" }}
  </body>
</html>

