<script>
  // temp redirect
  var url = window.location.href.replace(/http:\/\/(?:www\.)?adtoken.com/gi, 'https://adtoken.com');
  if (url !== window.location.href) {
    window.location.href = url;
  }
</script>

{{ partial "meta.html" . }}
<link rel="stylesheet" href="/css/vendor/semantic.min.css">
<link rel="stylesheet" href="/css/style.css">
<!--
<link rel="stylesheet" href="/css/vendor/mailchimp_horizontal-slim-10_7.css">
<link rel="stylesheet" href="/css/vendor/highlight_solarized_dark.min.css">
-->
<title>adToken - Unlocking the Blockchain for Digital Advertising</title>
{{ block "meta" . }}{{ end }}
