<div class="column sixteen wide HomeHero Section TopHero">
  <div class="ui grid padded stackable">
    <div class="column sixteen wide center aligned">
      <img class="ui image small centered" src="/assets/adtoken_logo.svg" />
      <h2 class="ui header">
          Introducing adToken
        <div class="ui divider"></div>
        <div class="sub header">
        </div>
      </h2>
    </div>
  </div>
  <div class="ui grid padded stackable HomeFadeIn">
    {{ partial "thankyou.html" }}
    {{ partial "home_more_info.html" }}
  </div>
</div>
