<div class="column sixteen wide HomeVision Section fadeIn" id="FutureVision">
  <div class="ui grid padded stackable">
    <div class="column sixteen wide center aligned">
      <h2 class="ui header">
        <span>Our Future Vision</span>
        <div class="ui divider"></div>
        <div class="sub header">
        an open ecosystem for dapps and ingenuity
        </div>
      </h2>
    </div>
    <div class="column sixteen wide">
      <div class="ui grid stackable">
        <div class="column ten wide centered left aligned">
          <p>
          adChain begins its journey as a Registry of reputable publishers, but its future promises to deliver much more. As an open protocol built on the Ethereum blockchain, it enables developers from around the globe the ability to create dApps that provide key functionality and facilitate ease-of-use.
          </p>
          <p>
          This will lead to a rich ecosystem-enabling environment for advertisers and publishers to openly coordinate advertising campaigns with one another via a suite of customizable dApps. Some examples of dApps to be built on adChain are bot detection dApps, reputation score dApps, automated payment delivery dApps, DMP (data management platform) dApps and even virtuous Ad Blocker dApps. But the most exciting dApps are likely to be those we have yet to even think of!
        </p>
        </div>
      </div>
    </div>
  </div>
</div>
