<div class="column sixteen wide HomeHIW Section" id="HowItWorks">
  <div class="ui grid padded stackable">
    <div class="column sixteen wide center aligned">
      <h2 class="ui header">
        How It Works
        <div class="sub header">
        </div>
      </h2>
    </div>
    <div class="column sixteen wide">
      <div class="ui items">
        <div class="item">
          <div class="image">
            <img src="/assets/cards/coordination.png" />
          </div>
          <div class="content">
            <a class="header">
            Publisher does this
            </a>
            <div class="meta">
              <p>
              Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
            </div>
          </div>
        </div>
        <div class="ui divider"></div>
        <div class="item">
          <div class="image">
            <img src="/assets/cards/coordination.png" />
          </div>
          <div class="content">
            <a class="header">
            Advertiser does this
            </a>
            <div class="meta">
              <p>
              Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
            </div>
          </div>
        </div>
        <div class="ui divider"></div>
        <div class="item">
          <div class="image">
            <img src="/assets/cards/coordination.png" />
          </div>
          <div class="content">
            <a class="header">
            This happens
            </a>
            <div class="meta">
              <p>
              Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
