{{ partial "top_nav.html" . }}

<main class="main HomePage">
  <div class="ui grid padded stackable">
    {{ partial "home_hero.html" }}
    {{ partial "home_countdown.html" }}
    {{ partial "home_more_info.html" }}
    {{ partial "home_white_paper.html" }}
    {{ partial "home_what_it_is.html" }}
    {{ partial "home_clean_up.html" }}
    {{ partial "home_how_it_works.html" }}
    {{ partial "home_vision.html" }}
    {{ partial "home_faq.html" }}
    {{ partial "home_subscribe.html" }}

    {{ partial "footer.html" . }}
  </div>
</main>
