<div class="column sixteen wide HomeHIW Section SectionContent fadeIn" id="HowItWorks">
  <div class="ui grid padded stackable">
    <div class="column sixteen wide center aligned">
      <h2 class="ui header">
        <span>adChain</span>
        <div class="ui divider"></div>
        <div class="sub header">
A virtuous cycle for advertisers, publishers, and adToken holders
        </div>
      </h2>
    </div>
    <div class="column ten wide centered">
      <div class="ui items">
        <div class="item">
          <div class="image">
            <img data-src="/assets/how_it_works/1.svg" />
          </div>
          <div class="content">
            <div class="header">
        The adChain Registry
            </div>
            <div class="meta">
              <p>
The adChain Registry is a smart contract on the Ethereum blockchain that maintains and stores a record of publisher domain names accredited as non-fraudulent by adToken holders. The key innovation of the adChain Registry is that it decouples the Registry owners (adToken Holders) from the CPM incentive.
</p>
            </div>
          </div>
        </div>
        <div class="ui divider"></div>
        <div class="item">
          <div class="image">
            <img data-src="/assets/how_it_works/2.svg" />
          </div>
          <div class="content">
            <div class="header">
adToken Holders
            </div>
            <div class="meta">
              <p>
adToken Holders are directly incentivized to maintain the integrity of the adChain Registry by keeping it free and clear of fraudulent publishers (fake bot traffic). adToken Holders use a partial lock token weighted voting scheme derived from Colony to vote publishers in or out of the Registry based on their merits. adToken Holders do not benefit in any way from the amount of impressions served to registrants; again this decouples them from the CPM incentive.
              </p>
            </div>
          </div>
        </div>
        <div class="ui divider"></div>
        <div class="item">
          <div class="image">
            <img data-src="/assets/how_it_works/3.svg" />
          </div>
          <div class="content">
            <div class="header">
The Virtuous Cycle
            </div>
            <div class="meta">
              <p>
As long as the adChain Registry is kept clean of fraudulent publisher domains then it has value for advertisers. Advertisers want to spend their ad budgets with publishers that are non-fraudulent. The adChain Registry functions as the worlds first decentralized whitelist for digital advertising. If the adChain Registry is valuable to advertisers then registrants will desire to renew their listings and unlisted publishers will desire to apply for new listings. adToken Holders are incentivized to keep fraudulent publishers out of the Registry by voting judiciously to maintain this virtuous cycle.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="column twelve wide centered center aligned">
      <div class="graph">
        <a href="/assets/how_it_works/graph.svg" target="_blank">
          <img data-src="/assets/how_it_works/graph.svg" />
        </a>
      </div>
    </div>
  </div>
</div>
