<div class="column sixteen wide HomeWIT Section SectionContent" id="WhatItIs">
  <div class="ui grid padded stackable">
    <div class="column sixteen wide center aligned">
      <h2 class="ui header">
        <span>What it is</span>
        <div class="ui divider"></div>
        <div class="sub header">
          Ethereum based solution for digital advertising
        </div>
      </h2>
    </div>
    <div class="column sixteen wide">
      <div class="ui grid stackable">
        <div class="column eight wide left aligned">
          <div class="SectionContentImageContainer">
            <img class="ui image" src="/assets/what_it_is/hammer.svg" width="100" />
          </div>
          <p>
adChain is a browser agnostic Ethereum based solution for digital advertising that seamlessly integrates with pre-existing RTB and programmatic industry standards.
          </p>
        </div>
        <div class="column eight wide left aligned">
          <div class="SectionContentImageContainer">
            <img class="ui image" src="/assets/what_it_is/hive.svg" width="90" />
          </div>
          <p>
The core utility of the adChain Protocol is adToken [ADT]. adToken is required to use adChain. ADT is a multi-purpose token with usage properties for voting, depositing and challenging entry into the adChain Registry.
          </p>
        </div>
      </div>
    </div>
    <div class="column sixteen wide">
      <div class="ui grid stackable">
        <div class="column eight wide left aligned">
          <div class="SectionContentImageContainer">
            <img class="ui image" src="/assets/what_it_is/adt.svg" width="90" />
          </div>
          <p>
The adChain Registry is a smart contract on the Ethereum blockchain, which stores domain names accredited as non-fraudulent by adToken holders.
          </p>
        </div>
        <div class="column eight wide left aligned">
          <div class="SectionContentImageContainer">
            <img class="ui image" src="/assets/what_it_is/a_d_chain.png" width="170" />
          </div>
          <p>
adToken holders are incentivized to clean up the digital advertising supply chain by voting fraudulent publishers out of the adChain Registry based on their merits.
          </p>
        </div>
      </div>
    </div>
  </div>
 </div>
