<div class="column sixteen wide HomeBreakdown Section fadeIn" id="TokenBreakdown">
  <div class="ui grid stackable cards">
    <div class="column sixteen wide center aligned">
      <h2 class="ui header">
        <span>Token Breakdown</span>
        <div class="ui divider"></div>
        <div class="sub header">
        </div>
      </h2>
    </div>
    <div class="column ten wide centered center aligned">
      <p>
      A total fixed supply of <em title="1 Billion">1,000,000,000</em> ADT will be created prior to the adChain Protocol going live on the Ethereum mainnet.
      </p>
    </div>
    <div class="column sixteen wide center aligned">
      <div class="ui grid statistics stackable">
        <div class="statistic column four wide">
          <div class="value">
            500M
          </div>
          <div class="label">
            <p>
            distributed in a public token sale with a cap of $10 million sold
            </p>
          </div>
        </div>
        <div class="statistic column four wide">
          <div class="value">
            200M
          </div>
          <div class="label">
            <p>
      reserved for MetaX
      </p>
          </div>
        </div>
        <div class="statistic column four wide">
          <div class="value">
            200M
          </div>
          <div class="label">
            <p>
          reserved for ConsenSys
          </p>
          </div>
        </div>
        <div class="statistic column four wide">
          <div class="value">
            100M
          </div>
          <div class="label">
            <p>
        sold to fund development via multiple pre-sale agreements
          </p>
          </div>
        </div>
      </div>
    </div>
    <div class="column sixteen wide center aligned">
      <p>
      <strong>ADCHAIN USE OF PROCEEDS</strong>
      </p>
    </div>
    <div class="column sixteen wide center aligned">
      <div id="chartdiv"></div>
    </div>
  </div>
</div>
