<div class="column sixteen wide HomeFAQ Section SectionContent fadeIn" id="FAQ">
  <div class="ui grid padded stackable">
    <div class="column sixteen wide center aligned">
      <h2 class="ui header">
        <span>FAQ</span>
        <div class="ui divider"></div>
        <div class="sub header">
          Frequently Asked Questions
        </div>
      </h2>
    </div>
    <div class="column ten wide centered">

      <h4 class="ui header">
    About adChain
      </h4>


              <div class="ui accordion">
                <div class="title">
                  <i class="dropdown icon"></i>
    Who is the team?
                </div>
                <div class="content">

<p>
<a>
  <ul>
    <li><a href="https://metax.io/" target="_blank">MetaX</a></li>
    <li><a href="https://adchain.com/" target="_blank">adChain</a></li>
    <li><a href="https://consensys.net/" target="_blank">ConsenSys</a></li>
  </ul>
</p>
</div>
</div>

              <div class="ui accordion">
                <div class="title">
                  <i class="dropdown icon"></i>
    What is adChain?
                </div>
                <div class="content">
<p>
    adChain is a set of interoperable open protocols built on the public
    Ethereum blockchain that serve the needs of the $175 billion digital
    advertising ecosystem. The first protocol under development is the adChain
    Registry, a decentralized whitelist of non-fraudulent publisher domain
    names. Other protocols for creative registration and verification,
    impression tracking, and malware detection, will be added in the future.
</p>
<p>
    These protocols provide a foundation for decentralized application
    developers to build on, enabling advertisers and publishers to run
    campaigns that leverage the power of Ethereum while maintaining the
    familiar user experience of legacy tools. The applications built on adChain
    will drive adoption across the thousands of advertisers, publishers, and
    technology providers in the digital advertising ecosystem.
</p>
</div>
</div>

              <div class="ui accordion">
                <div class="title">
                  <i class="dropdown icon"></i>
    What is the adChain Registry?
                </div>
                <div class="content">
<p>
    The adChain Registry is a public decentralized whitelist of online
    publisher websites which aims to help the advertising industry solve its
    $16+ billion fraud problem. In this context "decentralized" means that no
    single entity has control over the whitelist. Instead, the decisions about
    which publishers are able to join the whitelist are made collectively by
    the adToken (ADT) holding members of the adChain community.
</p>
</div>
</div>

              <div class="ui accordion">
                <div class="title">
                  <i class="dropdown icon"></i>
    Why is fraud such a big problem?
                </div>
                <div class="content">
<p>
    Fraud at such a massive scale (+$16 billion ) is made possible by the lack
    of transparency in the digital advertising supply chain. Advertisers often
    don't know which websites the ads they buy end up on, leaving room for
    malicious publishers with mostly bot traffic to profit at their expense.
    This problem is exacerbated by the large number of intermediaries in a
    typical programmatic advertising supply chain. A single ad impression can
    transact between dozens of parties that sit between the advertiser and the
    publisher. These intermediaries, who are often paid on a per impression
    basis, may have limited incentive to report questionable traffic, since
    anybody who reports fraud down the line forfeits their own revenue by doing
    so.
</p>
</div>
</div>


              <div class="ui accordion">
                <div class="title">
                  <i class="dropdown icon"></i>
    How does the adChain Registry work?
                </div>
                <div class="content">
<p>
    The adChain Registry employs the adToken (ADT) holding members of the
    adChain community to help vet publishers who wish to join. The application
    process for a publisher is as follows:
</p>
<ol>
<li>
    A publisher submits an application which includes an ADT deposit.
</li>
<li>
    A "challenge period" starts during which any ADT holder who believes the
    publisher is fraudulent can issue a challenge and match the publisher's ADT
    deposit.
</li>
<li>
    If no challenges are issued during the challenge period, the publisher
    is accepted into the adChain Registry, and their deposit is returned.
</li>
<li>
    If a challenge is issued, the publisher and challenger go head-to-head
    and ADT holders vote (1 ADT = 1 vote; majority rules) on the outcome.
</li>
<li>
  The winner of this vote has their ADT deposit returned to them and is
    rewarded some fraction of the the loser's deposit. The remainder of the
    loser's deposit is divided amongst the majority voters.
</li>
<li>
    If the vote is in favor of the publisher, they are accepted into the
    adChain Registry. If the vote is in favor of the challenger, the publisher
    is not accepted.
</li>
</ol>
<p>
    For more detailed information, please see the <a href="/white-paper.pdf" target="_blank">adChain Registry whitepaper</a>.
</p>
</div>
</div>

              <div class="ui accordion">
                <div class="title">
                  <i class="dropdown icon"></i>
    How might a challenge work in practice?
                </div>
                <div class="content">
<p>
    In practice, fraudulent publishers will most likely be challenged by
    existing business partners or their safety vendors after enough evidence of
    fraud is accumulated to be persuasive to the ADT holding members of the
    adChain community.
</p>

</div>
</div>


              <div class="ui accordion">
                <div class="title">
                  <i class="dropdown icon"></i>
    How does the adChain Registry solve advertising fraud?
                </div>
                <div class="content">

                  <p>
The adChain Registry does not solve fraud directly, instead it provides the advertising industry with a platform through which to collectively define what fraud is and where to draw the line (e.g. 10% questionable traffic? 20%?). Further, the adChain Registry provides direct financial incentives to those challenging fraudulent publishers and to those participating in the voting process.
                  </p>

                  <p>
Compare the decentralized adChain Registry with a traditional way of solving this problem: trusting a single database to maintain a whitelist of non-fraudulent publishers. The traditional solution -- a centralized whitelist -- doesn't require a blockchain, doesn't need a token, and is far cheaper and easier to operate. It could be run on a spreadsheet! The centralized solution, however, comes with a significant disadvantage: trust. The value of a centralized whitelist depends on the collective trust placed in its contributors to not list URLs they know to be fraudulent.
                  </p>

                  <p>
On the other hand, the integrity of the adChain Registry does not depend on trust in any single centralized solution or the reliability of any given contributor, but rather trust in the continued collective financial incentives of all ADT holders – i.e. the strength of the participants in the ecosystem - to challenge URLs and publishers they believe to be fraudulent.
                  </p>

</div>
</div>

              <div class="ui accordion">
                <div class="title">
                  <i class="dropdown icon"></i>
    How are incentives aligned to challenge fraud in adChain?
                </div>
                <div class="content">
<p>
    Beyond the direct ADT reward for challenging or participating in an ADT
    vote against a rejected publisher, the ADT holding members of the adChain
    community also share an incentive to increase the value of ADT. The
    relationship between the value of ADT and the integrity of the adChain
    registry is described in greater detail in the whitepaper, but the summary
    is:
</p>
<ul>
<li>
    The fewer fraudulent publishers in the adChain Registry, the more
    advertisers will want to do business with the adChain Registry members
</li>
<li>
    The more advertisers want to do business with adChain Registry members,
    the more publishers will want to join
</li>
<li>
    The more publishers want to join, the greater the demand for adToken
</li>
<li>
    The greater the demand for adToken, the more valuable adToken becomes
</li>
</ul>
<p>
    To look at this same relationship from the opposite perspective, it holds
    that should the adChain Registry have a large number of fraudulent
    publishers, advertisers won't want to do business with its members,
    publishers won't want to join it, and the value of adToken is likely to
    decline.
</p>
<p>
    As a result of this relationship, rational adToken voters who wish to see
    the value of their adToken increase will do their best to challenge and
    vote against the applications of publishers they consider fraudulent.
</p>
                </div>
                </div>

              <div class="ui accordion">
                <div class="title">
                  <i class="dropdown icon"></i>
    Who will use adChain?
                </div>
                <div class="content">
<p>
    The goal of adChain is to be inclusive and to onboard the entire digital
    advertising ecosystem. Initially, the target users will be premium
    publishers who wish to join the adChain Registry and advertisers who wish
    to work with them. As adChain grows, it will expand to include the
    industry’s technology providers, safety vendors, exchanges, and service
    providers. There is also a significant role to be played by dApp
    developers.
</p>
                </div>
                </div>

              <div class="ui accordion">
                <div class="title">
                  <i class="dropdown icon"></i>
    How will dApp developers be rewarded?
                </div>
                <div class="content">
<p>
    Some of the funds raised will be set aside as part of a bounty program to
    reward dApp developers for contributions to the adChain protocols and for
    building valuable adChain applications and services. This bounty program
    will officially begin in October of 2017, but if you are interested in
    making contributions before that time please get in touch.
</p>
                </div>
                </div>

              <div class="ui accordion">
                <div class="title">
                  <i class="dropdown icon"></i>
    What is the relationship between MetaX and adChain?
                </div>
                <div class="content">
<p>
    MetaX is a blockchain technology company committed to the development and
    adoption of open platforms for digital advertising. The team at MetaX knows
    the intricacies of digital advertising and has partnered with blockchain
    experts, ConsenSys, to collaborate on the development of adChain. MetaX
    will build ad-centric applications on adChain that will allow the digital
    advertising supply chain to coordinate in a scalable, trustworthy and
    secure way.
</p>
                </div>
                </div>

              <div class="ui accordion">
                <div class="title">
                  <i class="dropdown icon"></i>
    What is the adChain roadmap?
                </div>
                <div class="content">
<p>
    adChain begins its journey as a Registry of reputable publishers, which
    leverages the Ethereum blockchain to address the massive problem of fraud
    and lack of transparency in the digital supply chain. MetaX’s roadmap
    includes a number of critical “blockchain adaptors” for different supply
    chain entities to allow them to use their current infrastructure and become
    blockchain-aware. To start, MetaX is building a “header bidding” solution
    for peer-to-peer auctions between advertiser and publishers that both
    contributes to and leverages the data available within the adChain Registry
    to ensure transparency and safety throughout transaction.
</p>
<p>
    MetaX will also provide an interface for the adChain Registry so adToken
    holders can vote, challenge, and deposit adToken. The primary goal of the
    interface is to provide ease-of-use and accessibility to the adChain
    protocol to encourage adoption.
</p>
<p>
    MetaX and ConsenSys will be building decentralized applications, however,
    there is no barrier to entry for any developer wanting to develop on
    adChain. The adChain protocols are open and free to access.
</p>
                </div>
                </div>

      <h4 class="ui header">
    About the adToken launch
      </h4>


              <div class="ui accordion">
                <div class="title">
                  <i class="dropdown icon"></i>

        How many adTokens are being minted and what is the adToken distribution
        and ownership breakdown?

                </div>
                <div class="content">
<p>
    One billion adTokens are being minted. The token breakdown is as follows:
</p>
<ul>
<li>
    500 million to be distributed in a public token sale with a cap of $10
    million sold
</li>
<li>
    200 million reserved for MetaX, per the time lock schedule detailed
    below.
</li>
<li>
    200 million reserved for ConsenSys, per the time lock schedule detailed
    below.
</li>
<li>
    100 million sold to fund development via multiple pre-sale agreements
</li>
</ul>
<p>
    To signal the level of commitment both ConsenSys and MetaX have for this
    system, each entity has agreed to lock up all of their tokens with the
    following unlocking schedule:
</p>
<ul>
<li>
    50% unlocked 1 year after public sale (e.g. 100M of the 200M)
</li>
<li>
    Remaining tokens unlocked 18 months after sale (e.g. the remaining
    100M)
</li>
<ul>
</div>
</div>


              <div class="ui accordion">
                <div class="title">
                  <i class="dropdown icon"></i>
    When is the adChain Token Launch?
                </div>
                <div class="content">
                  {{ partial "token_launch_date.html" . }}
</div>
</div>

              <div class="ui accordion">
                <div class="title">
                  <i class="dropdown icon"></i>
    How do I purchase adToken?
                </div>
                <div class="content">
<p>
    adToken will become available for purchase at a specific block height and
    contract address at or around 9AM PDT / 4PM GMT on June 26, 2017. At
    the start block, 500 million adToken held by the sale contract will become
    available for purchase at a fixed price by invoking a named function of the
    sale contract and including an Ether value in the transaction. MetaX will
    provide a user interface for interacting with the sale contract at
    adchain.com. The sale contract address and ABI will be published well in
    advance of the launch so that the sale contract can be interacted with from
    myetherwallet.com, Mist or your contract browser of choice.
</p>
<p>
    adToken will be transferred to the address of the purchaser, and a
    different purchaser than the message sender may not be specified. The
    address and ABI of the adToken ERC-20 contract will be published well in
    advance of the sale as well.
</p>
                </div>
                </div>


              <div class="ui accordion">
                <div class="title">
                  <i class="dropdown icon"></i>

        What method of payment is accepted for adToken during the Token Launch?

                </div>
                <div class="content">
<p>
    The adToken sale contract checks only for Ether values in purchase
    messages. Do not send tokens or any cryptocurrency other than Ether to the
    adToken sale contract address.
</p>
                </div>
                </div>
              <div class="ui accordion">
                <div class="title">
                  <i class="dropdown icon"></i>

        Was there a security audit for the Token Launch smart contract?
                </div>
                <div class="content">
<p>
The adToken contract itself, the sale contract and deployment infrastructure are being formally reviewed by ConsenSys members external to the AdChain team.
</p>
</div>
</div>


              <div class="ui accordion">
                <div class="title">
                  <i class="dropdown icon"></i>
    Will there be multiple token launches?
                </div>
                <div class="content">
<p>
    It is the belief of ConsenSys and MetaX that token launches in this
    ecosystem may be naive in selling upwards of 75% during their first “token
    round.” Typical startups would exhibit an even greater failure rate if they
    limited their startup capital to only one funding round. ConsenSys and
    MetaX believe it is better to sell tokens over time as i) adChain achieves
    its targeted adoption milestones across the digital advertising industry
    and ii) MetaX continues to develop and release new advancements of the
    adChain protocol. As such, ConsenSys and MetaX believe it is in the best
    interest of the platform to retain 40% of the tokens after the first public
    sale.
</p>
                </div>
                </div>


              <div class="ui accordion">
                <div class="title">
                  <i class="dropdown icon"></i>
    When will I receive my adToken?
                </div>
                <div class="content">
<p>
    adToken transfers to purchasers are made in the purchasing transaction
    itself. Purchasers can use their adToken in the same block at which they
    bought them.
</p>
                </div>
                </div>

              <div class="ui accordion">
                <div class="title">
                  <i class="dropdown icon"></i>
    How will the use of proceeds be applied?
                </div>
                <div class="content">
</p>
Please refer to the <a href="#TokenBreakdown">Token Breakdown</a> Section.
</p>

</div>
</div>


      <h4 class="ui header">
    adChain and the Industry
      </h4>

              <div class="ui accordion">
                <div class="title">
                  <i class="dropdown icon"></i>
    How is adChain different from BAT?
                </div>
                <div class="content">
<p>
    adToken is a protocol token used by the adChain community to keep the
    adChain Registry free of fraudulent publishers. It is not a transactional
    currency as it is used for governance rather than exchange. Publishers who
    wish to join the adChain Registry must purchase ADT for use as a deposit
    along with their application to join the adChain Registry, and members of
    the adChain community must purchase ADT to challenge or vote on
    applications from publishers they believe to be fraudulent.
</p>
<p>
    We see adToken as complementary to BAT. We foresee use cases where adToken
    and BAT are coupled to provide an enhanced user experience that minimizes
    opportunities for fraud while protecting user privacy. Also exciting is the
    emergent design properties that both blockchain-based solutions provide. We
    look forward to innovative solutions involving BAT &amp; ADT.
</p>
</div>
</div>



              <div class="ui accordion">
                <div class="title">
                  <i class="dropdown icon"></i>
    What is the adChain Association?
                </div>
                <div class="content">
<p>
    The adChain Association (ACA) is a non-profit organization designed to
    assist in the adoption, usage and governance of the adChain protocol. The
    details of this non-profit entity are still being finalized and will be
    shared publicly once finalized. The goal of the ACA is to move the digital
    advertising industry forward by providing guidance to adChain protocol
    updates and promoting the benefits of open technology. The ACA takes
    decentralization seriously and will facilitate this goal.
</p>
                </div>
                </div>

                </div>
    <div class="column ten wide centered">
<p align="center">
<strong>DISCLAIMER</strong>
</p>
<p>
    <em>
        With respect to adTokens and any information related thereto: (1) any
        sale of adTokens will be subject to terms, conditions and
        disclosures set forth in one or more documents and related sources of
        information (e.g., websites) that have not yet been finalized and are
        subject to change until the time of the public sale; (2) please read
        all final materials carefully because you will be bound by such terms
        and conditions in connection with any purchase; (3) any purchase
        involves substantial risks, including the complete loss of funds and
        the complete loss of value of the adTokens; (4) materials are solely
        for informational and illustrative purposes and provided without
        representation, warranty or guaranty of any kind, and do not constitute
        an offer to sell or solicitation of an offer to purchase any instrument
        or asset; and (5) nothing herein constitutes investment advice or any
        recommendation whatsoever.
    </em>
</p>
</div>


    <div class="column ten wide centered">
              <div class="ui accordion">
                <div class="title">
                  <i class="dropdown icon"></i>
    Where can I find out more?
                </div>
                <div class="content">
<ul>
  <li>
  Github <a href="https://github.com/adChain" target="_blank">@adChain</a>
</li>
<li>
    Reddit <a href="https://www.reddit.com/r/adChain/" target="_blank">/r/adChain</a>
</li>
<li>
    Rocket.chat <a href="https://chat.adchain.com" target="_blank">@adChain</a>
</li>
<li>
    Medium <a href="https://medium.com/@AdChain" target="_blank">@adChain</a>
</li>
<li>
    Twitter <a href="https://twitter.com/ad_chain" target="_blank">@ad_chain</a>
</li>
</ul>
</div>
</div>




    </div>
  </div>
</div>
