<div class="column sixteen wide HomeBreakdown Section">
  <div class="ui grid stackable cards">
    <div class="column sixteen wide center aligned">
      <h2 class="ui header">
        <span>Token Breakdown</span>
        <div class="ui divider"></div>
      </h2>
    </div>
    <div class="column ten wide centered center aligned">
      <p>
          A total fixed supply of 1,000,000,000 ADT will be created prior to the adChain Protocol going live on the Ethereum mainnet
      </p>
    </div>
    <div class="column sixteen wide center aligned">
      <div class="ui grid statistics stackable">
        <div class="statistic column four wide">
          <div class="value">
            500m
          </div>
          <div class="label">
            <p>
            distributed in a public token sale with a cap of $10 million sold
            </p>
          </div>
        </div>
        <div class="statistic column four wide">
          <div class="value">
            200m
          </div>
          <div class="label">
            <p>
      reserved for MetaX
      </p>
          </div>
        </div>
        <div class="statistic column four wide">
          <div class="value">
            200m
          </div>
          <div class="label">
            <p>
          reserved for Consensys
          </p>
          </div>
        </div>
        <div class="statistic column four wide">
          <div class="value">
            100m
          </div>
          <div class="label">
            <p>
        sold to fund development via multiple pre-sale agreements
          </p>
          </div>
        </div>
      </div>
    </div>
    <div class="column sixteen wide center aligned">
      <p>
      <strong>ADCHAIN USE OF PROCEEDS</strong>
      </p>
    </div>
    <div class="column sixteen wide center aligned">
      <div class="ui image centered">
        <a href="/assets/breakdown/pie.png" target="_blank">
          <img src="/assets/breakdown/pie.png" width="600" />
        </a>
      </div>
      </div>
  </div>
</div>
