<div class="column sixteen wide HomeCountdown Section">
  <div class="ui grid stackable cards">
    <div class="column sixteen wide center aligned">
      <h2 class="ui header">
          Token Launch
        <div class="sub header">
        </div>
      </h2>
    </div>
    <div class="column sixteen wide center aligned">
      <section class="clocks">

      <div class="clock">
        <canvas id="days-canvas"></canvas>
        <label><span id="days-count"></span> Days</label>
      </div>

      <div class="clock">
        <canvas id="hours-canvas"></canvas>
        <label><span id="hours-count"></span> Hours</label>
      </div>

      <div class="clock">
        <canvas id="minutes-canvas"></canvas>
        <label><span id="minutes-count"></span> Minutes</label>
      </div>

      <div class="clock">
        <canvas id="seconds-canvas"></canvas>
        <label><span id="seconds-count"></span> Seconds</label>
      </div>

      </section>
    </div>
  </div>
</div>
