<div class="column sixteen wide HomeFAQ Section SectionContent SectionAccordion">
  <div class="ui grid padded stackable">
    <div class="column sixteen wide center aligned">
      <h2 class="ui header">
        <span>FAQ</span>
        <div class="ui divider"></div>
        <div class="sub header">
          Frequently Asked Questions
        </div>
      </h2>
    </div>
    <div class="column sixteen wide">
      <div class="ui two column very relaxed grid stackable">
        <div class="column">

          {{ $data := getJSON "faq.json" }}
          {{ range $index, $d := $data }}
             {{ if mod $index 2 | eq 0 }}
              <div class="ui accordion">
                <div class="title">
                  <i class="dropdown icon"></i>
                  {{ $d.q }}
                </div>
                <div class="content">
                  {{ range $p := $d.a }}
                    <p>{{ $p }}</p>
                  {{ end }}
                </div>
              </div>
              {{ end }}
          {{ end }}

        </div>
        <div class="column">

          {{ $data := getJSON "faq.json" }}
          {{ range $index, $d := $data }}
             {{ if mod $index 2 | eq 1 }}
              <div class="ui accordion">
                <div class="title">
                  <i class="dropdown icon"></i>
                  {{ $d.q }}
                </div>
                <div class="content">
                  {{ range $p := $d.a }}
                    <p>{{ $p }}</p>
                  {{ end }}
                </div>
              </div>
            {{ end }}
          {{ end }}

        </div>
      </div>
    </div>
  </div>
</div>
