<div class="column sixteen wide HomeBreakdown Section">
  <div class="ui grid stackable cards">
    <div class="column sixteen wide center aligned">
      <h2 class="ui header">
        <span>Token Breakdown</span>
        <div class="ui divider"></div>
      </h2>
    </div>
    <div class="column ten wide centered center aligned">
      <p>
          A total fixed supply of 1,000,000,000 ADT will be created prior to the adChain Protocol going live on the Ethereum mainnet
      </p>
    </div>
    <div class="column sixteen wide center aligned">
      <div class="ui grid statistics stackable">
        <div class="statistic column four wide">
          <div class="value">
            500m
          </div>
          <div class="label">
            <p>
            distributed in a public token sale with a cap of $10 million sold
            </p>
          </div>
        </div>
        <div class="statistic column four wide">
          <div class="value">
            200m
          </div>
          <div class="label">
            <p>
      reserved for MetaX
      </p>
          </div>
        </div>
        <div class="statistic column four wide">
          <div class="value">
            200m
          </div>
          <div class="label">
            <p>
          reserved for Consensys
          </p>
          </div>
        </div>
        <div class="statistic column four wide">
          <div class="value">
            100m
          </div>
          <div class="label">
            <p>
        sold to fund development via multiple pre-sale agreements
          </p>
          </div>
        </div>
      </div>
    </div>
    <div class="column sixteen wide center aligned">
      <p>
      <strong>ADCHAIN USE OF PROCEEDS</strong>
      </p>
    </div>
    <div class="column sixteen wide center aligned">
      <script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
      <script src="https://www.amcharts.com/lib/3/pie.js"></script>
      <script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
      <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
      <script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
      <div id="chartdiv"></div>
      <script>
      var chart = AmCharts.makeChart("chartdiv", {
        "type": "pie",
        "startDuration": 0,
         "theme": "light",
        "addClassNames": true,
        "legend":{
          "position":"bottom",
          "autoMargins":true,
          "align": "center"
        },
        "innerRadius": "30%",
        "defs": {
          "filter": [{
            "id": "shadow",
            "width": "200%",
            "height": "200%",
            "feOffset": {
              "result": "offOut",
              "in": "SourceAlpha",
              "dx": 0,
              "dy": 0
            },
            "feGaussianBlur": {
              "result": "blurOut",
              "in": "offOut",
              "stdDeviation": 5
            },
            "feBlend": {
              "in": "SourceGraphic",
              "in2": "blurOut",
              "mode": "normal"
            }
          }]
        },
        "dataProvider": [{
          "title": "Development & IT",
          "value": 28,
          "color": "#4CAF50"
          },
          {
          "title": "adChain Association",
          "value": 24,
          "color": "#64B5F6"
          },
          {
          "title": "Data & Marketing Association",
          "value": 14,
          "color": "#E57373"
          },
          {
          "title": "Generate Administrative",
          "value": 13,
          "color": "#FF8A65"
          },
          {
          "title": "Sales & Marketing",
          "value": 12,
          "color": "#FFB74D"
          },
          {
          "title": "Legal & Profressional",
          "value": 5,
          "color": "#F06292"
          },
          {
          "title": "Consulting & Subcontractors",
          "value": 4,
          "color": "#BA68C8"
        }],
        "valueField": "value",
        "titleField": "title",
        "colorField": "color",
        "export": {
          "enabled": false
        },
        "balloon": {
          "fillColor": "#FFFFFF",
          "fillAlpha": 1
        }
      });

      chart.addListener("init", handleInit);

      chart.addListener("rollOverSlice", function(e) {
        handleRollOver(e);
      });

      function handleInit(){
        chart.legend.addListener("rollOverItem", handleRollOver);
      }

      function handleRollOver(e){
        var wedge = e.dataItem.wedge.node;
        wedge.parentNode.appendChild(wedge);
      }
      </script>

      </div>
  </div>
</div>
