<div class="column sixteen wide HomeFAQ Section SectionContent SectionAccordion">
  <div class="ui grid padded stackable">
    <div class="column sixteen wide center aligned">
      <h2 class="ui header">
        <span>FAQ</span>
        <div class="ui divider"></div>
        <div class="sub header">
          Frequently Asked Questions
        </div>
      </h2>
    </div>
    <div class="column sixteen wide">
      <div class="ui two column very relaxed grid stackable">
        <div class="column">
          <div class="ui accordion">
            <div class="active title">
              <i class="dropdown icon"></i>
            What if this happens?
            </div>
            <div class="active content">
                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
            </div>
          </div>

          <div class="ui accordion">
            <div class="active title">
              <i class="dropdown icon"></i>
            What if this happens?
            </div>
            <div class="active content">
                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
            </div>
          </div>


        </div>
        <div class="column">
          <div class="ui accordion">
            <div class="active title">
              <i class="dropdown icon"></i>
            What if this happens?
            </div>
            <div class="active content">
                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
            </div>
          </div>
          <div class="ui accordion">
            <div class="active title">
              <i class="dropdown icon"></i>
            What if this happens?
            </div>
            <div class="active content">
                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
