<div class="column sixteen wide HomeCards Section SectionCards">
  <div class="ui grid stackable cards">
    <div class="column sixteen wide center aligned">
      <h2 class="ui header">
          Industry Problem
        <div class="sub header">
        </div>
      </h2>
    </div>
    <div class="column four wide center aligned">
      <div class="ui card centered">
        <div class="image center aligned">
          <img src="/assets/cards/v2/eye.svg" />
        </div>
        <div class="content">
          <div class="header">
          Probem 1
          </div>
          <div class="description">
Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
          </div>
        </div>
      </div>
    </div>
    <div class="column four wide center aligned">
      <div class="ui card centered">
        <div class="image center aligned">
          <img src="/assets/cards/v2/shield.svg" />
        </div>
        <div class="content">
          <div class="header">
            Problem 2
          </div>
          <div class="description">
Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
          </div>
        </div>
      </div>
    </div>
    <div class="column four wide center aligned">
      <div class="ui card centered">
        <div class="image center aligned">
          <img src="/assets/cards/v2/coordination.svg" />
        </div>
        <div class="content">
          <div class="header">
            Problem 3
          </div>
          <div class="description">
Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
          </div>
        </div>
      </div>
    </div>
    <div class="column four wide center aligned">
      <div class="ui card centered">
        <div class="image center aligned">
          <img src="/assets/cards/v2/lock.svg" />
        </div>
        <div class="content">
          <div class="header">
              Problem 4
          </div>
          <div class="description">
Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
          </div>
        </div>
      </div>
    </div>
  </div>
 </div>
