{{ partial "top_nav.html" . }}

<main class="main ResourcesPage">
  <div class="ui grid padded stackable">
    <div class="column sixteen wide ResourcesSection Section TopHero">
      <div class="ui grid padded stackable">
        <div class="column sixteen wide center aligned">
          <h2 class="ui header">
            adToken Resources
            <div class="ui divider"></div>
          </h2>
        </div>
      </div>
      <div class="ui grid padded stackable">
        <div class="column sixteen wide left aligned">
          <h3 class="ui header">
            Documents
            <div class="sub header">
              <p><a href="#" target="_blank">adToken White Paper</a></p>
              <p><a href="#" target="_blank">adToken One Pager</a></p>
          </div>
        </div>
        </h3>
        <div class="column sixteen wide left aligned">
          <h3 class="ui header">
            Presentations
            <div class="sub header">
              <p><a href="#" target="_blank">MetaX presents adChain</a></p>
          </div>
          </h3>
        </div>
        <div class="column sixteen wide left aligned">
          <h3 class="ui header">
            Videos
            <div class="sub header">
              <p><a href="#" target="_blank">MetaX presents adChain</a></p>
          </div>
          </h3>
        </div>
      </div>
    </div>


    {{ partial "footer.html" . }}
  </div>
</main>
