<div class="ui grid stackable">
  <div class="column sixteen wide centered center aligned">
    <div class="ui large header">
      Mist
      <div class="ui divider"></div>
    </div>
  </div>
  <div class="column sixteen wide centered left aligend">
    <p>
    If this is your first token purchase, we recommend that you complete it using MyEtherWallet. If you have experience using Mist, please follow the instructions shown below:
    </p>
  </div>
  <div class="column sixteen wide centered left aligend">
    <ol>
      <li><p>Make sure you have the <a href="https://github.com/ethereum/mist/releases" target="_blank">latest version</a> of Mist installed.</p></li>
      <li><p>Open the Mist application.</p></li>
      <li>
      <p>Go to the <em>"Contracts"</em> tab</p>

      <p><a class="ui image" href="/assets/instructions/mist/overview.png" target="_blank">
        <img src="/assets/instructions/mist/overview.png" />
      </a></p>
      </li>

      <li><p>Click on the <em>"WATCH CONTRACT"</em> button.</p>

      <p><a class="ui image" href="/assets/instructions/mist/contracts.png" target="_blank">
        <img src="/assets/instructions/mist/contracts.png" />
      </a></p>
      </li>

      <li>
      <p>In the <em>"Watch contract"</em> dialog window, enter the following:</p>
        <ul>
          <li><p>In the <em>"CONTRACT NAME"</em> field, enter <strong>"AdToken Sale"</strong>.</p></li>
          <li><p>In the <em>"CONTRACT ADDRESS"</em> field, enter adToken Contract Sale Address found <a href="#address" class="HashtagAnchor">above</a>.</p></li>
          <li><p>In the <em>"JSON INTERFACE"</em> field, enter adToken Contract Sale ABI JSON found <a href="#abi" class="HashtagAnchor">above</a>.</p></li>
        </ul>
      </li>

      <li><p>Click the <em>"OK"</em> button.</p>

      <p><a class="ui image" href="/assets/instructions/mist/watch_contract_dialog.png" target="_blank">
        <img src="/assets/instructions/mist/watch_contract_dialog.png" />
      </a></p>
      </li>

      <li><p>Click on the <em>"AdToken Sale"</em> contract.</p></li>
      <li><p>Scroll down. You should see a form title <em>"WRITE TO CONTRACT"</em>.</p>

      <p>Fill in the form with the following information:</p>

        <ul>
          <li><p>In the <em>"Select function"</em> dropdown, choose <strong><em>"purchaseTokens"</em></strong>.</p></li>
          <li><p>In the <em>"Execute from"</em> dropdown, choose your ethereum account.</p></li>
          <li><p>In the <em>"Send ETHER"</em> field, enter the desired amount of ETH you'd like to use to purchase adToken.</p></li>
        </ul>
      </li>

      <li><p>Click on the <em>"Execute"</em> button.</p></li>
      <li><p>In the Execute contract dialog, input <em>100,000</em> as the Gas limit.</p></li>
      <li><p>Enter the account password and click on <em>"SEND TRANSACTION"</em>.</p></li>
      <li><p>You can check the status of the purchase in etherscan website.</p></li>

    </ol>
  </div>
</div>
