<div class="ui grid stackable">
  <div class="column sixteen wide centered center aligned">
    <div class="ui large header">
      Parity
      <div class="ui divider"></div>
    </div>
  </div>
  <div class="column sixteen wide centered left aligend">
    <p>
    <a href="https://parity.io/">Parity</a> is a secure browser-based wallet that enables you to schedule future purchases. Please follow the instructions below to purchase adToken through Parity:
    </p>
  </div>
  <div class="column sixteen wide centered left aligend">
    <ol>
      <li>Open your Parity app.</li>
      <li>Open the <em>“Accounts”</em> tab and select the account you would like to transfer funds from.</li>
      <li>Click <em>“Transfer”</em></li>
      <li>Paste the adToken contract address found <a href="#address">above</a> in the <em>“recipient address”</em> field.</li>
      <li>Select the ETH amount.</li>
      <li>Click <em>“Send”</em>. You will need to confirm by entering your password.</li>
    </ol>
  </div>
</div>
