<div class="column sixteen wide Section TopHero">
  <div class="ui grid padded stackable">

    <div class="column sixteen wide center aligned">
      <h2 class="ui header">
        Purchasing adToken
        <div class="ui divider"></div>
      </h2>
    </div>

    <div class="ui grid stackable cards center aligned">
      <div class="column twelve wide centered left aligned" style="text-align:left">
        <p>
        Thank you for your interest in purchasing adToken. The information <a href="#instructions">below</a> has been organized to help you in your adToken purchase using MyEtherWallet, Mist, or Parity.
        </p>
      </div>

      <div class="column twelve wide centered center aligned" id="address">
        <p>TOKEN LAUNCH DATE:</p>
        <p>
          JUNE 26TH, 2017 AT 9AM PDT / 4PM GMT
        </p>
      </div>

      <div class="column twelve wide centered center aligned" id="address">
        <p style="text-align:left">
        The mainnet adToken sale contract address will be displayed approaching closer to the date of the token launch. <strong>Right below is the sale contract address on the <a href="https://rinkeby.etherscan.io/address/0x06970bbec4ac9497b4663ae3675611c4629e6a40" target="_blank">Rinkeby testnet</a> for testing before the actual token launch.</strong>
        </p>

        <div class="ui large header">
          ADTOKEN SALE CONTRACT ADDRESS
          <div><strong style="color:#ff7a00">(RINKEBY TESTNET)</strong></div>
        </div>

        <div class="ui huge segment" style="overflow-x:auto">
          <code>
            0x06970bbec4ac9497b4663ae3675611c4629e6a40
          </code>
        </div>

        <p><a href="https://rinkeby.etherscan.io/address/0x06970bbec4ac9497b4663ae3675611c4629e6a40#code" target="_blank">
          View adToken sale contract on etherscan
        </a></p>

        <div class="ui large header" id="abi">
          ADTOKEN SALE CONTRACT ABI
        </div>

        <div class="ui accordion" style="margin-bottom:15px">
          <div class="title active">
            <i class="dropdown icon"></i>
              ADTOKEN SALE CONTRACT ABI JSON
          </div>
          <div class="content active">
            <div class="ui huge segment left aligned">
              {{ partial "adtoken_sale_contract_abi.html" }}
            </div>
          </div>
        </div>

        <p><a href="https://adtoken-sale.s3-us-west-2.amazonaws.com/sale.json" target="_blank">Download adToken Sale Contract ABI</a>
        </p>

        <div class="ui large header" id="abi">
          CONTRACT FUNCTION TO EXECUTE
        </div>

        <div class="ui huge segment" style="overflow-x:auto">
          <code>
            purchaseTokens()
          </code>
        </div>

        <p style="text-align:left;">The <code>purchaseTokens()</code> smart contract function needs to be executed in order to purchase tokens. <strong>You must send ETH when calling <code>purchaseToken()</code> function to buy adToken.</strong> Further instructions are detailed <a href="#instructions">below</a>.</p>

      </div>

      <div class="column ten wide centered left aligned">
        <p><strong>IMPORTANT NOTES</strong></p>
        <ul class="ui list">
          <li class="item"><strong>Do NOT send ETH directly to the adToken sale contract address. Please follow instructions <a href="#instructions">below</a> on how to execute <em><code>purchaseTokens()</code></em> smart contract function in order to purchase adToken.</strong></li>
          <li class="item">Do NOT send funds from exchanges such as Poloniex, Bitfinex, Bittrex, Coinbase, GDAX, etc.</li>
          <li class="item">Do not send your funds before the fundraiser has begun.</li>
          <li class="item">We recommend using the wallet applications mentioned below.</li>
          <li class="item">Only ETH is accepted. Do NOT try sending anything other than ETH.</li>
          <li class="item">ALWAYS double check addresses you are sending ether to.</li>
          <li class="item">By participating in the token sale, you agree to the <a href="/terms">terms and conditions</a>.</li>
      </div>

      <div class="column sixteen wide centered center aligned">
        <div style="padding-top:20px;padding-bottom:40px;">
          <p>
            All transactions sent to adToken sale contract are viewable on etherscan website
          </p>
          <p>
          <a
            href="https://rinkeby.etherscan.io/address/0x06970bbec4ac9497b4663ae3675611c4629e6a40"
            target="_blank">view transactions on rinkeby.etherscan.io</a>
          </p>
        </div>
      </div>

  </div>
</div>

<div class="column sixteen wide centered left aligned TokenTabItemsContainer" id="instructions">

    <div class="ui tabular menu stackable">
      <a class="active item" data-tab="first">MyEtherWallet</a>
      <!--<a class="item" data-tab="fifth">MetaMask</a>-->
      <a class="item" data-tab="second">Mist</a>
      <a class="item" data-tab="third">Parity</a>
      <!--<a class="item" data-tab="fourth">imToken</a>-->
    </div>
</div>

<div class="ui grid stackable">
  <div class="column ten wide centered left aligned TabsSection">
    <div class="ui active tab" data-tab="first">
      {{ partial "token_instructions_myetherwallet.html" . }}
    </div>


    <div class="ui tab" data-tab="second">
      <p>Instructions for Mist coming soon.</p>
      <!--
      {{ partial "token_instructions_mist.html" . }}
      -->
    </div>

    <div class="ui tab" data-tab="third">
      <p>Instructions for Parity coming soon.</p>
      <!--
      {{ partial "token_instructions_parity.html" . }}
      -->
    </div>

    <!--
    <div class="ui tab" data-tab="fourth">
      <div class="ui grid stackable">
        <div class="column sixteen wide centered center aligned">
          <div class="ui large header">
            imToken
            <div class="ui divider"></div>
          </div>
        </div>
        <div class="column sixteen wide centered left aligend">
          <p>
  If you would like to purchase adToken on your mobile device, you now can with imToken. Please follow the instructions outlined below:
          </p>
        </div>
        <div class="column sixteen wide centered left aligend">
          <ol>
            <li>Open the <a href="https://itunes.apple.com/us/app/imtoken/id1153230571?mt=8" target="_blank">imToken</a> app on your mobile device.</li>
            <li>Select the <em>“Discover”</em> option on the bottom menu.</li>
            <li>Click on the <em>“ICO”</em> option.</li>
            <li>Find the <em>“AdToken”</em> icon and click on it.</li>
            <li>At the bottom of the screen, you will have the option to enter an amount of ETH.</li>
            <li>Click <em>“Join Now”</em> and enter your password.</li>
            <li>Click <em>“Confirm”</em>.</li>
          </ol>
        </div>
      </div>
    </div>
    -->

    <div class="ui tab" data-tab="fifth">
      <div class="ui grid stackable">
        <div class="column sixteen wide centered center aligned">
          <div class="ui large header">
            MetaMask
            <div class="ui divider"></div>
          </div>
        </div>
        <div class="column sixteen wide centered left aligend">
          <p>
          <a href="https://metamask.io/" target="_blank">MetaMask</a> is a simple add-on that allows you to send tokens easily and securely. Please follow the instructions below to purchase adToken using MetaMask.
          </p>
        </div>
        <div class="column sixteen wide centered left aligend">
          <ol>
            <li>Click on the extension/add-on icon in your browser.</li>
            <li>Click <em>“Buy”</em>.</li>
            <li>Copy the adToken contract address found <a href="#address">above</a> and paste it in the <em>“Recipient Address”</em> field.</li>
            <li>Enter the amount of ETH you want to send.</li>
            <li>Click <em>“Send”</em>.</li>
          </ol>
        </div>
      </div>
    </div>
  </div>

  <div class="column ten wide centered left aligned TokenDisclaimer">
        <p><small>
          Disclaimer: The purchasing instructions are only to be used as a helpful guidance. Buyers are recommended to conduct their own research and should not solely rely on our material. We cannot guarantee that the presented materials are accurate, nor should the associated software mentioned be liable. Buyers therefore assume their own risks in connection with the token sale. Please visit our <a href="/terms">terms and conditions</a> concerning the token sale.
        </small></p>
    </div>
</div>
