{{ partial "top_nav.html" . }}

<main class="main TokenPage">
  <div class="ui grid padded stackable">

  <div class="column sixteen wide TeamSection Section TopHero">
    <div class="ui grid padded stackable">
      <div class="column sixteen wide center aligned">
        <h2 class="ui header">
            Token Launch
          <div class="ui divider"></div>
          <div class="sub header">
          </div>
        </h2>
      </div>
      <div class="row ui grid stackable cards center aligned">
        <div class="column sixteen wide center aligned">
          <p>Token launch details will be released soon.</p>
        </div>
      </div>
    </div>
  </div>

    {{ partial "footer.html" . }}
  </div>
</main>
