<div class="ui grid stackable">
  <div class="column sixteen wide centered center aligned">
    <div class="ui large header">
      MyEtherWallet
      <div class="ui divider"></div>
    </div>
  </div>
  <div class="column sixteen wide centered left aligend">
    <p>
    <a href="https://myetherwallet.com/" target="_blank">MyEtherWallet</a> is a popular and reliable application that can be used to generate accounts and send ether to the adToken sale contract.</p>

    <p>If you do not have an account with MyEtherWallet and you'd like to create one, please start on step 1.</p>

    <p>If you already have an ethereum account address and ether in the account, please skip to step 7.
    </p>
  </div>
  <div class="column sixteen wide centered left aligend">
    <p>GENERATING WALLET</p>
    <ol>
      <li>

      <p>Visit <a href="https://www.myetherwallet.com" target="_blank">myetherwallet.com</a>.</p>

      <li><p>Select the tab <em>"Generate Wallet"</em>, insert a strong password, and click on the <em>"Generate Wallet"</em> button.</p></li>

      <p><a class="ui image" href="/assets/instructions/myetherwallet/generate_wallet.png" target="_blank">
        <img src="/assets/instructions/myetherwallet/generate_wallet.png" />
      </a></p>

      <li><p>Click on the <em>"Download"</em> button to download the Keystore File. Store this file in a secure location. This will give you access to your account. Click on <em>"I understand. Continue."</em> button.</p>

      <p><a class="ui image" href="/assets/instructions/myetherwallet/download_keystore.png" target="_blank">
        <img src="/assets/instructions/myetherwallet/download_keystore.png" />
      </a></p>
    </li>

    <li><p>Print your paper wallet and store in a secure location. Never share your Private Key with anyone. Click on <em>"Next: Save your Address"</em> button.</p>

      <p><a class="ui image" href="/assets/instructions/myetherwallet/print_paper_wallet.png" target="_blank">
        <img src="/assets/instructions/myetherwallet/print_paper_wallet.png" />
      </a></p>
    </li>

    <li>
    <p>Select your keystore wallet file and enter your wallet password. Click on <em>"Unlock"</em> button.</p>

      <p><a class="ui image" href="/assets/instructions/myetherwallet/unlock_wallet.png" target="_blank">
        <img src="/assets/instructions/myetherwallet/unlock_wallet.png" />
      </a></p>
    </li>

    <li>
    <p>Scroll down and you will see your "Account Address". Send ETH to this account wallet address.</p>

      <p><a class="ui image" href="/assets/instructions/myetherwallet/account_address.png" target="_blank">
        <img src="/assets/instructions/myetherwallet/account_address.png" />
      </a></p>

    </li>
    </ol>

    <p>ACCESS ADTOKEN SALE CONTRACT</p>
    <ol start="7">
      <li>
        <p>Click <em>"Contracts"</em> navigation item.</p>

      <p><a class="ui image" href="/assets/instructions/myetherwallet/contract_page.png" target="_blank">
        <img src="/assets/instructions/myetherwallet/contract_page.png" />
      </a></p>
      </li>

      <li><p>Enter the adToken Sale Contract address found <a href="#address">above</a> in the <em>"Contract Address"</em> field.</p></li>

      <li>
      <p>
      Enter the adToken Sale Contract ABI JSON found <a href="#abi">above</a> in the <em>"ABI / JSON Interface"</em> field.</p></li>

      <li><p>Click on <em>"Access"</em> button.</p></li>

      <li>

      <p>In the <em>"Read / Write Contract"</em> dropdown, select <strong><em>"purchaseTokens"</em></strong>. Then restore your wallet.</p>

      <p><a class="ui image" href="/assets/instructions/myetherwallet/read_write_contract.png" target="_blank">
        <img src="/assets/instructions/myetherwallet/read_write_contract.png" />
      </a></p>

      </li>

      <li>

      <p>A dialog window will appear prompting for Amount to Send. Enter the desired of ETH you'd like to use to purchae adToken. Set the Gas Limit to desired amount. You can use default Gas Limit displayed in the input field.</p>

      <p><a class="ui image" href="/assets/instructions/myetherwallet/generate_transaction.png" target="_blank">
        <img src="/assets/instructions/myetherwallet/generate_transaction.png" />
      </a></p>

      </li>

      <li>
      <p>Verify that the inputs are correct and click on <em>"Yes, I am sure! Make transactions."</em> button.</p>

      <p><a class="ui image" href="/assets/instructions/myetherwallet/generate_transaction_confirm.png" target="_blank">
        <img src="/assets/instructions/myetherwallet/generate_transaction_confirm.png" />
      </a></p>

      </li>

      <li>
      <p>You will see at the bottom of the screen a message saying that the transaction was sent successfully. You can click on the <em>"View your transaction"</em> link to view the current state.</p>

      </li>

      <p><a class="ui image" href="/assets/instructions/myetherwallet/transaction_sent.png" target="_blank">
        <img src="/assets/instructions/myetherwallet/transaction_sent.png" />
      </a></p>

      <li>
      <p>
      Here you can see etherscan website displays that the transaction was successful.
      </p>

      <p><a class="ui image" href="/assets/instructions/myetherwallet/etherscan_view_transaction.png" target="_blank">
        <img src="/assets/instructions/myetherwallet/etherscan_view_transaction.png" />
      </a></p>
      </li>

    </ol>
  </div>
</div>
