<div class="column sixteen wide WhitePaper Section">
  <div class="ui grid padded stackable">
    <div class="column sixteen wide center aligned">
      <h2 class="ui header">
        The AdToken White Paper
        <div class="sub header">
 Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
        </div>
      </h2>
    </div>
    <div class="row column ten wide centered">
      <p>
Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
</p>
<p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    </div>
    <div class="row column sixteen wide centered center aligned">
        <a href="/white-paper.pdf" class="ui button default" target="_blank">Access White Paper</a>
    </div>
  </div>
</div>
