<div class="column sixteen wide WhitePaper Section TopHero">
  <div class="ui grid padded stackable">
    <div class="column sixteen wide center aligned">
      <h2 class="ui header">
        The adToken White Paper
        <div class="ui divider"></div>
      </h2>
    </div>

    <div class="column eight wide centered">
      <div class="ui grid stackable center aligned">
        <div class="column five wide center aligned">
          <div class="ui small image">
            <img class="ui centered image" src="/assets/white_paper/cogs.svg" width="100" />
          </div>
          <p>
          <small><strong>FUNCTIONALITY</strong></small>
          </p>
        </div>
        <div class="column five wide center aligned">
          <div class="ui small image">
            <img class="ui centered image" src="/assets/white_paper/eye.svg" width="100" />
          </div>
          <p>
          <small><strong>TRANSPARENCY</strong></small>
          </p>
        </div>
        <div class="column five wide center aligned">
          <div class="ui small image">
            <img class="ui centered image" src="/assets/white_paper/handshake.svg" width="100" />
          </div>
          <p>
          <small><strong>TRUST</strong></small>
          </p>
        </div>
      </div>
    </div>

    <div class="row column ten wide centered">
      <p>
Tasked with constructing the first decentralized and virtuous whitelist of reputable publisher domains, adToken holders will pave the way for a new industry standard in digital advertising.
</p>
    </div>
    <div class="row column sixteen wide centered center aligned">
        <a href="/white-paper.pdf" class="ui button primary" target="_blank">Access White Paper</a>
    </div>
  </div>
</div>
