<div class="column sixteen wide WhitePaper Section TopHero">
  <div class="ui grid padded stackable">
    <div class="column sixteen wide center aligned">
      <h2 class="ui header">
        About adToken
        <div class="ui divider"></div>
      </h2>
    </div>

    <div class="column twelve wide centered">
      <p>Tasked with constructing the first decentralized and virtuous white list of reputable publisher domains, adToken holders will pave the way for a new industry standard in digital advertising.</p>
    </div>
  </div>
</div>
