<div class="ui grid stackable">
  <div class="column sixteen wide centered center aligned">
    <div class="ui large header">
      MetaMask
      <div class="ui divider"></div>
    </div>
  </div>
  <div class="column sixteen wide centered left aligend">
    <p>
    <a href="https://metamask.io/" target="_blank">MetaMask</a> is a simple browser extension that allows you to send tokens easily and securely.
    If this is your first token purchase, we recommend that you complete it using MyEtherWallet. If it's not your first time then please follow the instructions below to purchase adToken using MetaMask.
    </p>
  </div>
  <div class="column sixteen wide centered left aligend">
    <ol>
      <li><p>Make sure you have the <a href="https://metamask.io/" target="_blank">latest version</a> of MetaMask installed.</p></li>
      <li><p>Click on the MetaMask extension/add-on icon in your browser.</p></li>
      <li>

      <p>Click on the <em>"SEND"</em> button.</p>

      <p><a class="ui image" href="/assets/instructions/metamask/account.png" target="_blank">
        <img src="/assets/instructions/metamask/account.png" style="max-width:400px" />
      </a></p>
      </li>


      <li><p>Copy the adToken contract address found <a href="#address" class="HashtagAnchor">above</a> and paste it in the <em>"Recipient Address"</em> field.</p></li>
      <li><p>In the <em>"Amount"</em> field, enter the amount of ETH you would like to spend on purchasing adToken.</p></li>
      <li><p>Enter <strong><em>"0x3290ce29"</em></strong> in the <em>"TRANSACTION DATA (OPTIONAL)"</em> field.</p></li>
      <li>
      <p>Click on the <em>"SEND"</em> button.</p>

      <p><a class="ui image" href="/assets/instructions/metamask/send.png" target="_blank">
        <img src="/assets/instructions/metamask/send.png" style="max-width:400px" />
      </a></p>
      </li>


      <li><p>Enter <em>100,000</em> in the Gas limit field.</p></li>
      <li><p>Click on the <em>"ACCEPT"</em> button.</p></li>
      <li><p>Transaction will appear under <em>"HISTORY"</em> section.</p></li>
    </ol>
  </div>
</div>
